@layer components {
  .header {
    @apply fixed w-full top-0 left-0 z-50 h-12 bg-black bg-opacity-70;
    backdrop-filter: blur(5px);
  }

  .header-nav__tooltip {
    @apply text-left hidden sm:block absolute text-sm p-2 leading-normal bg-black rounded;
    width: 8em;
		transform: translate(-50%, 10px);
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms, visibility 300ms;
  }
  .header-nav__tooltip:after {
    @apply absolute;
    content: "";
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: theme('colors.black');
  }
  .tooltip-trigger:hover .header-nav__tooltip,
  .tooltip-trigger:focus .header-nav__tooltip {
    opacity: 1;
    visibility: visible;
  }
}
