@tailwind base;
body {
	@apply bg-gray-100;
}
@tailwind components;
.bio-list {
	@apply ml-4 self-end flex gap-2;
}
.bio-list__link {
	@apply text-white text-sm;
}
.anim-link {
	position: relative;
}
.anim-link:after {
	@apply absolute left-0 w-full inline-block h-px bg-white origin-bottom-right;
	content: '';
	bottom: -2px;
	transform: scale(0);
	transition: transform .3s;
}
.anim-link:hover:after {
	@apply origin-bottom-left;
	transform: scaleX(1);
}
@tailwind utilities;
