.cat-list {
	@apply max-w-screen-md mx-auto grid grid-cols-1 sm:grid-cols-2 gap-8;
}
.cat-list > li {
	@apply relative rounded overflow-hidden h-32 sm:h-40;
}
.cat-list__link:after {
	@apply absolute top-0 left-0 right-0 bottom-0 bg-gray opacity-20;
	content: "";
}
.cat-list__link {
	@apply block h-full;
}
.cat-list__txt {
	@apply font-bold absolute text-xl md:text-3xl tracking-widest z-50 text-white font-scripts;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
