@layer components {
	.blog-list {
		@apply flex flex-wrap;
		gap: 1rem;
	}
	@screen lg {
		.blog-list {
			gap: 2rem 3rem;
		}
	}
	.blog-list > li {
		width: calc(50% - 1rem * 1 / 2);
	}
	@screen sm {
		.blog-list > li {
			width: calc(33.3333% - 1rem * 2 / 3);
		}
	}
	@screen lg {
		.blog-list > li {
			width: calc(33.3333% - 3rem * 2 / 3);
		}
	}
	.blog-list__imgwrap:hover > a {
		transform: scale(1.05);
	}
	.blog-list__ttl {
		@apply text-sm;
		margin-top: 1em;
	}
}
