@layer components {
	.blog-list {
		@apply grid gap-x-4 gap-y-6;
		grid-template-columns: repeat(2, 1fr);
	}
	@screen sm {
		.blog-list {
			grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		}
	}
	@screen lg {
		.blog-list {
			@apply gap-x-8 gap-y-12;
		}
	}
	.blog-list__imgwrap:hover > a {
		transform: scale(1.05);
	}
	.blog-list__ttl {
		@apply text-sm font-bold;
		margin-top: 1em;
	}
	.blog-list__date {
		@apply py-1 px-3 text-gray italic font-bold text-sm md:text-base absolute bottom-0 left-0 w-full;
		background-color: rgba(255,255,255,.6);
	}
	.blog-list-taglist {
		@apply flex flex-wrap -m-0.5;
	}
	.blog-list-taglist > li {
		@apply p-0.5;
	}
	.tag-list {
		@apply flex flex-wrap justify-center;
		margin: -.3rem -.2rem;
	}
	.tag-list > li {
		padding: .3rem .2rem;
	}
	.cat-list {
		@apply max-w-screen-md mx-auto grid grid-cols-1 sm:grid-cols-2 gap-8;
	}
	.cat-list > li {
		@apply relative rounded overflow-hidden h-32 sm:h-40;
	}
	.cat-list__link:after {
		@apply absolute top-0 left-0 right-0 bottom-0 bg-gray opacity-20;
		content: "";
	}
	.cat-list__link {
		@apply block h-full;
	}
	.cat-list__txt {
		@apply font-bold absolute text-xl md:text-3xl tracking-widest z-50 text-white font-scripts;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
