@layer components {
	.daily-list {
		@apply flex flex-wrap;
		gap: 1rem;
	}
	@screen lg {
		.daily-list {
			gap: 2rem 3rem;
		}
	}
	.daily-list > li {
		width: calc(50% - 1rem * 1 / 2);
	}
	@screen sm {
		.daily-list > li {
			width: calc(33.3333% - 1rem * 2 / 3);
		}
	}
	@screen lg {
		.daily-list > li {
			width: calc(33.3333% - 3rem * 2 / 3);
		}
	}
	.daily-list__link {
		@apply block hover:opacity-60 transition-opacity;
	}
	.daily-list__ttl {
		@apply text-sm;
		margin: 1em 0;
	}
}
