.pagination {
	@apply relative w-full;
}
.pagination .pagination-list__item.prev {
	@apply absolute left-0 top-0;
}
.pagination .pagination-list__item.next {
	@apply absolute right-0 top-0;
}
.pagination .page-txt {
	@apply absolute left-2/4 top-0;
	transform: translateX(-50%);
}
.pagination__link {
	@apply hover:opacity-60 transition-opacity duration-300 tracking-wider;
}
.pagination__icon {
	@apply transition-transform duration-300;
	font-size: .8em !important;
}
.pagination__link:hover .pagination__icon.prev {
	transform: translateX(-5px);
}
.pagination__link:hover .pagination__icon.next {
	transform: translateX(5px);
}
