@layer components {
	.blog-post p {
		@apply leading-loose;
		font-size: .8rem;
		margin-bottom: 1.5em;
	}
	@screen md {
		.blog-post p {
			font-size: 1rem;
		}
	}
	.blog-post pre {
		font-size: .8rem !important;
	}
	@screen md {
		.blog-post pre {
			font-size: 1rem !important;
		}
	}
}
