.tag {
	@apply inline-block border border-accent border-solid rounded-full text-accent hover:bg-accent hover:text-white;
	transition: background-color .3s, color .3s;
	padding: .05em .5em;
}
.tag:before {
	content: '#';
}
.tag + .tag {
	margin-left: .5em;
}
