.post-tag {
  @apply inline-block border border-accent border-solid rounded text-accent hover:bg-accent hover:text-white;
  transition: background-color 0.3s, color 0.3s;
  padding: 0.05em 0.5em;
}
.post-tag:before {
  content: '#';
}
