@layer components {
	.toggle {
		position: relative;
		width: 40px;
		height: 20px;
	}

	.toggle__input {
		@apply z-50 absolute left-0 top-0 w-full h-full cursor-pointer opacity-0;
	}

	.toggle__label {
		width: 100%;
		height: 100%;
		background: theme('colors.gray.DEFAULT');
		position: relative;
		display: inline-block;
		border-radius: 20px;
		transition: 0.4s background;
	}

	.toggle__label.dark {
		background: theme('colors.white.DEFAULT');
	}

	.toggle__label.dark:after {
		background: theme('colors.gray.DEFAULT');
	}

	.toggle__label:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		border-radius: 100%;
		left: 0;
		top: 0;
		z-index: 2;
		background: theme('colors.white.DEFAULT');
		transition: 0.4s transform, 0.4s background;
	}

	.toggle__input:checked ~ .toggle__label:after {
		transform: translateX(20px);
	}
}
